<ng-container *ngIf="cards$ | async as cards; else loading">
  <section class="info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
      reprehenderit fuga dolores atque aliquid laudantium, natus eaque amet
      magni repellendus quam quisquam officiis maxime! Dolorum.
    </p>
  </section>

  <section class="card-container">
    <div class="card-container">
      <rx-card class="card-service" *ngFor="let card of cards">
        <div class="card-body" body>
          <img [src]="card.picture" alt="img-{{ card.name }}" />
          <p>{{ card.desciption }}</p>
          <a [routerLink]="['/services', card.name, card.id]" rx-button>{{
            card.name
          }}</a>
        </div>
      </rx-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>Load.. </ng-template>
