<ng-container *ngIf="cards$ | async as cards; else loading">
  <section class="info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
      reprehenderit fuga dolores atque aliquid laudantium, natus eaque amet
      magni repellendus quam quisquam officiis maxime! Dolorum.
    </p>
  </section>

  <section class="card-container">
    <rx-business-card
      *ngFor="let card of cards"
      [data]="card"
    ></rx-business-card>
  </section>
</ng-container>

<ng-template #loading>Load.. </ng-template>
