<ng-container *ngIf="user$ | async as user; else auth">
  <nav></nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</ng-container>

<ng-template #auth>
  <form (ngSubmit)="signin()">
    <div class="form-control">
      <label for="email">email<span>*</span></label>
      <input type="email" required />
    </div>
    <div class="form-control">
      <label for="email">password<span>*</span></label>
      <input type="password" required />
    </div>

    <div class="form-button">
      <button type="submit">log in</button>
    </div>
  </form>
</ng-template>
