<section class="i">
  <h1>Lorem ipsum dolor sit amet.</h1>
</section>
<div class="divider"></div>

<section class="b">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, dolore
    minima! Voluptate, ullam.
  </p>
</section>

<div class="divider"></div>

<section class="services">
  <div class="card-container">
    <rx-card class="card-service" *ngFor="let card of cards">
      <div class="card-body" body>
        <img [src]="card.img" alt="img-{{ card.route.label }}" />
        <p>{{ card.text }}</p>
        <a [routerLink]="card.route.path" rx-button>{{ card.route.label }}</a>
      </div>
    </rx-card>
  </div>
</section>

<!--
-->
