:host {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow-x: hidden;
}

.i {
  height: 80%;
  flex-shrink: 0;
}

.b {
  text-align: center;
  margin: 1.4rem 0;
}

.services {
  padding: 1rem 1.5rem;
  padding-top: unset;
}

.card-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  rx-business-card {
    flex-basis: 60%;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
