<ng-container *ngIf="setting$ | async; else loader">
  <button
    class="button-menu"
    type="menu"
    (click)="toggle()"
    [rx-insert-svg]="menu.icon"
    [ngClass]="{ active: menu.state === 'open' }"
  ></button>

  <nav class="navigation" [ngClass]="{ open: menu.state === 'open' }">
    <ng-container *ngFor="let link of navigation">
      <a
        class="link"
        *ngIf="link.enable"
        [routerLink]="link.path"
        [routerLinkActive]="'active'"
        (click)="close()"
      >
        <span>{{ link.label }}</span>
      </a>
    </ng-container>
  </nav>

  <main class="route-container" (click)="close()">
    <router-outlet></router-outlet>
  </main>
</ng-container>

<ng-template #loader>
  <div>loading...</div>
</ng-template>
