:host {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background-color: #1f1f22;
  text-align: center;
  padding: 0.8rem;
  border-radius: 4px;
}

[head],
[body],
[foot] {
  box-sizing: border-box;
  overflow: hidden;
}
